streamlit
langchain
langchain-community
langchain-huggingface
langchain-chroma
langchain-classic
sentence-transformers
transformers
opencv-python-headless
chromadb
docling
replicate
pillow
ibm-granite-community-utils @ git+https://github.com/ibm-granite-community/utils.git
langchain-replicate @ git+https://github.com/ibm-granite-community/langchain-replicate.git
